* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  background: #fafafa;
}

.background {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  background-image: url(background.png);
  background-repeat: repeat-x;
  animation: sliderRight 1600s infinite linear;
}

.dino {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 0;
  background-image: url(dino.png);
}

.cactus {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 0;
  right: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  margin-top: 20rem;
  color: #666666;
}

@keyframes sliderRight {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}
